.idea
.venv
*.csv
*.pkl
*.pth
**/_*.ipynb
*.json*
__pycache__

**/figures/
**/*data*/
**/_artifacts/
**/artifacts/
**/wandb/
**/results/
/local_models/segmentation/carparts_segment
/local_models/classifiers/checkpoints/*
/local_models/generators/
/local_models/classifiers/checkpoints
